<h2>Vitajte v registračnom systéme</h2>

<div class="stats">
    <h3>Aktuálny stav</h3>
    <ul>
        <li>Počet aktivít: {{activityCount}}</li>
        <li>Registrovaní účastníci: {{participantCount}}</li>
        <li>Registrovaní vedúci: {{leaderCount}}</li>
        <li>Registrovaní hostia: {{guestCount}}</li>
    </ul>
</div>

<div class="registration-links">
    <h3>Registrácia</h3>
    <ul>
        <li><a href="/participant/register">Registrácia účastníka</a></li>
        <li><a href="/leader/register">Registrácia vedúceho</a></li>
        <li><a href="/guest/register">Registrácia hosťa</a></li>
    </ul>
</div>
